:root { 
  --BACK_CLR: #151515;
  --FRONT_CLR: #ffffff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  font-family: "Space Mono", monospace;
  color: var(--FRONT_CLR);
}

#easter-egg {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;

  text-align: center;

  margin-top: 300vh;
  padding: 2rem;
}


/* screen overlay */
html::after {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4) 1px, transparent 1px);
  background-size: 2px 2px;
  background-repeat: repeat;
  pointer-events: none;
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;

  z-index: 500;
}


/* layout */
body {
  width: 100vw;
  height: 100vh;

  position: absolute;
  top: 0;
  left: 0;

  background-color: var(--BACK_CLR);

  display: flex;
  align-items: center;
  justify-content: center;

  overflow: hidden;
}

#scroll-wrapper {
  height: 100vh;
  width: 100vw;

  display: flex;
  align-items: center;
  justify-content: center;

  overflow-y: scroll;
  overflow-x: hidden;
}

main {
  height: 100vh;
  width: min(400px, 80%);

  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;

  box-sizing: border-box;
  padding-top: 6rem;
  padding-bottom: 6rem;

  gap: 3rem;
}




/* child nodes */
hr {
  height: 4px;
  background: #fff;
  opacity: 25%;
  border: none;
  width: 100%;

  display: block;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-inline-start: auto;
  margin-inline-end: auto;
  unicode-bidi: isolate;
  overflow: hidden;
}

.block {
  width: 100%;

  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  gap: 1.5rem;

  & ul {
      & li {
          text-align: left;
      }
  };

  & img {
    max-width: 100%;
    height: auto;

    border: 2px solid var(--FRONT_CLR);
    border-radius: 4px;

    /* bigger than screen overlay */
    z-index: 501; 
  }
}


.buttonRow{
  width: 100%;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}


button {
  width: 4rem;

  border: none;

  background-color: var(--FRONT_CLR);
  color: var(--BACK_CLR);

  transition: all 0.1s ease-in;

  &:hover {
    transform: translateY(2px);
  }
}


