#menu {
    gap: 6rem;
}

.block {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    gap: 0.5rem;

    & ul {
        & li {
            text-align: left;
        }
    }
}


#easter-egg {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;

    text-align: center;

    margin-top: 300vh;
    padding: 2rem;


}